
body { 
        padding:0;
        margin:0;
    }
    .first{
      background-image:url(img/cover.png) ;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
    }
ul.no{
    list-style-type: none;
    padding-left: 40%;
}
div.col{
   background-color: #360836;
    height: 30px;
}
a{
  text-decoration: none;
  color: white;
  padding-left: 20px;
  font-family: 'Redressed', cursive;
}

.hd {
    color: #c44572;
  }
  li.o {
    float: left;
  }
 li.o a:hover {
    color: white;
   }
  h1{
    padding-left: 38%;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 80px;
  }
  h2.web{
    padding-left: 40%;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 30px;
  }
  h2.we{
    padding-left: 35%;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
  }
  p.txt{
    padding-left: 20px;
    color: white;

  }
  ul.non{
    padding-left: 49%;
    color: rgb(255, 255, 255);
    font-size: 30px;
  }
  h2.wo{
    padding-left: 40px;
    color: white;
    background-color:#ff0048;
    width: 200px;height: 40px;
    margin-left: 41%;
    font-family: 'Rajdhani', sans-serif;
  }
  .wo2{
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 25px solid rgb(255, 0, 106);
    margin-left: 10%;
    position: absolute;
  }
  
 .img {
  float: left;
  width: 25%;
  height: 100px;
  display: table;
}


.wd{

  color: white;
  background-color: #ff0048;
  text-align: center;
}



.me{
  padding-left: 40%;
    color:#ff0048;
    font-family: 'Playfair Display', serif;
    font-size: 30px;
}  

.img2 {
  text-align: center;
 
}
.container{
  display: flex;
}

.child1{
  padding-left: 350px;
  
}

.child2{
flex: 1;

}


.an{
  list-style-type: none;
  padding-left: 35%;
    color:#ff0048;
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    
} 
.an2{
  list-style-type: none;
  padding-left: 35%;
    color:#000000;
    font-family: 'Playfair Display', serif;
    font-size: 15px;
} 
.btn {
  border: none;
  height: 35px;
  width: 300px;
  font-size: 30px;

}

.container1{
  text-align: center;
  width: 300px;
  height:50px;
  padding-left: 40%;
  }
.contact {
  background-color: black;
  color: rgb(255, 255, 255);
}

.contact:hover {
  background-color:#ff0048;
  color:#ffffff;
}



.third{
  background-image:url(img/Cover_2\ \(1\).jpg) ;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.container5{
  display: flex;
  margin-right: 150px;
}
.head{
  color:#ffffff;
  font-size: 50px;
  padding-left: 190px;
  text-align: left;
}
.para{
  color:#ffffff;
  text-align: left;
  padding-left: 200px;  
}
.container6{
  display: flex;
  padding-left: 350px;
}
.non1{
  flex: 1;
  color: rgb(255, 255, 255);
  font-size: 30px;
  display: block;
}
.non3{
  color: rgb(255, 255, 255);
  font-size: 30px;
  display: block;
  padding-left: 600px;
}
li.non2{
  float: left;
  padding-left: 40px;
}
.btn {
  border: none;
  height: 35px;
  width: 300px;
  font-size: 30px;

}

.container2{
  text-align: center;
  width: 300px;
  height:100px;
  padding-top: 100px;
  padding-left: 40%;
  }
.back {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.back:hover {
  background-color:#ff0048;
  color:#ffffff;
}